<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-icon class="text-white" aria-hidden="false" aria-label=""
    >receipt_long</mat-icon
  >
  <span>CRUD-ESIG</span>
  <div class="spacer"></div>
  <a
    aria-label="CRUD-ESIG GITHUB"
    target="_blank"
    rel="noopener"
    href="https://github.com/HandersonSilva/CRUD-ESIG"
    title="Baixar APK do projeto"
  >
    <img width="50" height="50" src="assets/flutter.webp" alt="" />
  </a>
  <a
    aria-label="CRUD-ESIG GITHUB"
    target="_blank"
    rel="noopener"
    href="https://github.com/HandersonSilva/CRUD-ESIG"
    title="GitHub"
  >
    <img width="50" height="50" src="assets/git.svg" alt="" />
  </a>
</div>

<div class="content" role="main">
  <h1 class="title">Lista de Tarefas</h1>
  <mat-card>
    <form name="form" [formGroup]="form" class="col-12">
      <mat-form-field class="col-12">
        <mat-label>Nova tarefa</mat-label>
        <input
          (keyup.enter)="save()"
          matInput
          formControlName="description"
          placeholder="O que temos para fazer hoje?"
          value=""
        />
      </mat-form-field>
      <div class="container">
        <div class="row menu-filtro">
          <div class="col-sm">
            <button (click)="setFilter('all')" mat-stroked-button>Todas</button>
          </div>
          <div class="col-sm">
            <button
              (click)="setFilter('unrealized')"
              mat-stroked-button
              color="primary"
            >
              A fazer
            </button>
          </div>
          <div class="col-sm">
            <button
              (click)="setFilter('done')"
              mat-stroked-button
              class="text-success"
            >
              Feito
            </button>
          </div>
          <div class="col-sm">
            <button (click)="deleteTaskDone()" mat-stroked-button color="warn">
              Excluir concluídas
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="row menu-filtro">
      </div> -->
      <!-- <div class="menu-filtro">
        <button (click)="setFilter('all')" mat-stroked-button>Todas</button>
        <button
          (click)="setFilter('unrealized')"
          mat-stroked-button
          color="primary"
        >
          A fazer
        </button>
        <button
          (click)="setFilter('done')"
          mat-stroked-button
          class="text-success"
        >
          Feito
        </button>
        <button (click)="deleteTaskDone()" mat-stroked-button color="warn">
          Excluir concluídas
        </button>
      </div> -->
    </form>

    <table
      *ngIf="dataSource.data.length > 0"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z1 col-12"
    >
      <ng-container matColumnDef="check">
        <td class="col-2" mat-cell *matCellDef="let task">
          <mat-icon
            (click)="!task.done ? update(task) : null"
            [class]="task.done ? 'text-success' : 'text-secondary'"
            aria-hidden="false"
            aria-label=""
            >{{
              task.done ? "check_circle_outline" : "panorama_fish_eye"
            }}</mat-icon
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <td
          class="col-8"
          mat-cell
          *matCellDef="let task"
          [class.task-done]="task.done"
        >
          <p>{{ task.description }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <td class="col-1" mat-cell *matCellDef="let task">
          <mat-icon
            *ngIf="!task.done"
            (click)="openDialogEdit(task)"
            class="text-primary"
            aria-hidden="false"
            aria-label=""
            >create</mat-icon
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <td class="col-1" mat-cell *matCellDef="let task">
          <mat-icon
            (click)="deleteTask(task)"
            class="text-danger"
            aria-hidden="false"
            aria-label=""
            >clear</mat-icon
          >
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let task; columns: displayedColumns"></tr>
    </table>
    <mat-divider [vertical]="false"></mat-divider>
    <label class="total">{{ dataSource.data.length + " Item" }}</label>
  </mat-card>

  <!-- Footer -->
  <footer>
    <!-- Love Angular?&nbsp;
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      Give our repo a star.
      <div class="github-star-badge">Star</div>
    </a>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"
          fill="#1976d2"
        />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </footer>

  <svg
    id="clouds"
    alt="Gray Clouds Background"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <path
      id="Path_39"
      data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#eee"
    />
  </svg>
</div> -->
    <router-outlet></router-outlet>
  </footer>
</div>
